<form id="selectedBookForm" class="hide" method="post" action="saveBook">
  <img src="" id="formImage">
  <input type="text" id="formImageURL" name="image_url" required>
  <input type="text" id="formTitle" name="title" required>
  <input type="text" id="formAuthor" name="author" required>
  <input type="text" id="formISBN" name="isbn" required>
  <textarea type="text" cols="70" rows="15" id="formDescription" name="description" required></textarea>
  <input type="text" id="formBookShelf" name="bookshelf" required>
  <button id="bookSubmitButton" type="submit">Submit</button>
</form>