<form id="selectedBookForm" class="hide" method="post" action="saveBook">
  <img src="" id="formImage">
  <input type="text" id="formImageURL" name="formImageURL">
  <input type="text" id="formTitle" name="formTitle">
  <input type="text" id="formAuthor" name="formAuthor">
  <input type="text" id="formISBN" name="formISBN">
  <textarea type="text" cols="70" rows="15" id="formDescription" name="formDescription"></textarea>
  <input type="text" id="formBookShelf" name="formBookShelf">
</form>