
<% bookList.forEach(book => { %>
  <article>

    <img src=<%= book.image_url %> alt="">
    <H3><%= book.title %></H3>
    <h4><%= book.author %></h4>
    <p><%= book.description %></p>

  </article>
<% }); %>