<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/showBase.css">
  <link rel="stylesheet" href="styles/showLayout.css">
  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <h1>Books Results</h1>
      <a href="/">Home</a>
    </nav>
    <h2>Book Results</h2>
  </header>

  <main>

    <h1>Books Results</h1>
    <%- include ../partials/displayBook.ejs %>
    
  </main>

</body>

</html>