<!DOCTYPE html>
<html lang="en">


  <head>
    <%- include ../../layout/head.ejs %>
    <link rel="stylesheet" href="styles/detail.css">
  </head>

<body>
  <header>
    <nav>
      <h1>Books Results</h1>
      <a href="/">Home</a>
    </nav>
  </header>

  
  <main>
    
    <h1>Books Details</h1>
    <%- include detail.ejs %>

  </main>

  <%- include ../../layout/footer.ejs %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src='../js/edit.js'></script>
</body>

</html>