body {
  background-color: lightblue;
  width: 75%;
  margin: auto;
  text-align: center;
  font-family: 'Skranji', cursive;
}
header nav a {
  text-align: center;
  margin: auto;
}
h1 {
  font-family: 'Creepster', cursive;
}
.error {
  font-size: 3em;
}
.hide {
  display: none;
}
#selectedBookForm {
  position: fixed;
  margin: auto;
}