body {
  background-color: lightblue;
  width: 75%;
  margin: auto;
  font-size: 2em;
  text-align: center;
}
h1 {
  background-color: teal;
  color: coral;
  font-size: 1em;
}
p {
  font-size: 0.75em;
  background-color: coral;
}
form {
  background-color: teal;
}
form label {
  font-size: 0.75em;
}
.error {
  font-size: 3em;
}