main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

nav {
  margin-top: 20px;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: coral;
  color: teal;

}

nav>h1 {
  font-size: 2.5em;
}

header>h2 {
  font-size: 3em;
  text-align: center;
}


article {
  width: 450px;
  height: 500px;

  display: grid;
  grid-template-rows: 25px 200px 10px 40px 10px 30px 10px 150px 25px;
  justify-items: center;

  margin-bottom: 10px;
  background-color: coral;
}
article>img {
  grid-row: 2/3;

  height: 100%;
}

article>h3 {
  grid-row: 4/5;

  font-size: 1.5em;
}
article>h4 {
  grid-row: 6/7;

  font-size: 1.25em;
}
article>p {
  height: 150px;
  grid-row: 8/9;
  overflow: scroll;
}

@media (min-width: 660px) and (max-width: 959px) {

  article {
    width: 48%;
  }
}

@media (min-width: 960px) {
  article {
    width: 32%;
  }
}